.page
  .page__left
    .page__left__top
      = link_to root_path do
        .page__left__top__text
          お気に入り一覧
      = link_to root_path do
        .page__left__top__text
          ニュース一覧
      = link_to root_path do
        .page__left__top__text
          ガイド
      = link_to root_path do
        .page__left__top__text
          お問い合わせ
    .page__left__text2
      設定
    .page__left__bottom
      = link_to root_path do
        .page__left__bottom__text1
          プロフィール
      = link_to root_path do
        .page__left__bottom__text1
          メール・パスワード
      = link_to root_path do
        .page__left__bottom__text1
          本人情報
      = link_to root_path do
        .page__left__bottom__text1
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn1'
