.wrapper
  = render 'shared/header'
.main
  = image_tag '480923.jpg' , height: '550px' , width: '100%' , class: 'image'
  .main__up
    みんなで隠れた名店を見つけよう
  .main__down
    LUNCHitter(ランチッター)はだれでもかんたんにお店を検索、コメントできる
    .dr
      ランチに特化したアプリです

  .main__content

    .main__content__title
      ピックアップ
    .main__content__title2
      新着情報
    .main__content__image
      -# .main__content__image__store
      - @lunches.each do |lunch|
        - image = lunch.images.first
        = link_to lunch_path(lunch.id), class: 'btn100' do
          .main__content__image__store__pick
            -# - if lunch.holiday?
            .holiday
              = image_submit_tag image.src, class: "image10" , height: "150px" , width: "220px"
            .main-menu
              看板メニュー
            .main__content__image__store__pick__name
              = lunch.name
              .main__content__image__store__pick__name__genre
                平均予算
                #{lunch.budget}円　★#{lunch.favorites_count}
.wrapper
  = render 'shared/footer'